# -------------------------------
# Unreal Engine
# -------------------------------
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# BuildScripts 임시/캐시 (Rider/Unreal 자동 생성)
BuildScripts/Wobj/

# -------------------------------
# IDEs
# -------------------------------
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# -------------------------------
# Rider IDE 최소 공유 설정
# -------------------------------
# 개인 환경 파일 무시
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/.name

# 프로젝트 구조/모듈 정보만 커밋
.idea/modules.xml
.idea/libraries/
*.iml

# -------------------------------
# OS
# -------------------------------
.DS_Store
Thumbs.db