Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
claude.md
.claude/.commands/Learn.md.txt
.claude/.commands/review.md.txt
.claude/.commands/Debug.md.txt
